.footer {
    position: relative;
    min-height: 100vh;
    background-color: #F2C94C; /* Yellow background */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 40;
    padding: 5% 5%;
    
  }

  .footer h2 {
    font-size: 3em;
    color: #333;
    margin-top: 20px;
  }
  
  .footer p {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
  }

.footer .images {
  display: flex;
  justify-content: center;
  gap: 100px;

}

