.landing {
  position: relative;
  height: 100vh;
  background-color: #F96E2A;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.content h1 {
  font-size: 6em;
  color: white;
}

.content p {
  font-size: 1.5em;
  color: white;
}
